/*---------- CARDS LAYOUT ----------*/
.app_cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 100%;
  overflow: auto;
}

.app_cards_item {
  display: flex;
  margin-top: 0;
  padding: 0 1em 2em;
  width: 100%;
}
.no-flexbox .app_cards_item {
  float: left;
}
@media screen and (min-width: 42em) and (max-width: 60em) {
  .app_cards_item {
    width: 50%;
  }
  .no-flexbox .app_cards_item:nth-child(2n + 1) {
    clear: both;
  }
}
@media screen and (min-width: 60em) {
  .app_cards_item {
    width: 33.3333%;
    /* width: 30%; */
  }
  .no-flexbox .app_cards_item:nth-child(3n + 1) {
    clear: both;
  }
}

.app_card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0 solid #eee;
  border-radius: 0;
  border-radius: 50px;
  padding: 5px;
  max-height: 350px;
  max-width: 300px;
}
.app_card_image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app_card_image img {
  width: 90%;
  height: 90%;
  border-radius: 50px;
  object-fit: cover;
}

.app_card_content {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 1.5em;
  height: 100%;
  gap: 1rem;
}
.app_card_content p {
  /* flex: 1 0 auto; */
}
.add_app_card {
  display: flex;
  flex-direction: column;
  border: 0 solid #eee;
  padding: 5px;
  /* height: 350px; */
  width: 100%;
}
.add_app_card_content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-top: 0;
  padding: 1.5em;
  border: 1px solid green;
  border-radius: 60px;
  max-height: 350px;
  max-width: 300px;
}
.app_title {
  color: #1a1b1a;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.app_medium_title {
  color: #2d3136;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.app_card_heading > p > span {
  color: #69776f;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.app_card_heading > p {
  color: #038b3e;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 17.267px; /* 62.28% */
  text-transform: capitalize;
}

.edit-btn {
  cursor: pointer;
  height: 25px;
  width: 25px;
  position: relative;
  transition: 250ms ease;
  border-radius: 50%;
  background: linear-gradient(315deg, #07D25F 20.24%, #028139 80.97%);
}
.edit-btn:before,
.edit-btn:after {
  content: "✎";
  height: 2px;
  /* background: white; */
  color: white;
  width: 70%;
  /* top: 50%; */
  left: 15%;
  position: absolute;
  transition: 250ms ease;
}
/* .edit-btn:before {
  transform: rotate(-45deg);
}
.edit-btn:after {
  transform: rotate(45deg);
} */

.edit-btn:hover:before,
.edit-btn:hover:after,
.edit-btn:focus:before,
.edit-btn:focus:after {
  width: 50%;
  left: 20%;
}
